<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.coolyota.logreport"
    android:sharedUserId="android.uid.system">
    <!--          >-->

    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name=".CYLogReporterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BugReportActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LogSettingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".QxdmSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ServerSettingActivity"
            android:screenOrientation="portrait"/>

        <!-- 监听开机广播 -->
        <receiver android:name=".receiver.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </receiver>

        <!-- 监听开机广播 -->
        <receiver android:name=".receiver.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </receiver>

        <!-- 暗码接收者 -->
        <receiver
            android:name=".SecretCodeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="3000">
                <action android:name="android.provider.Telephony.SECRET_CODE"/>

                <data
                    android:host="2017"
                    android:scheme="android_secret_code"/>
                <data
                    android:host="2018"
                    android:scheme="android_secret_code"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".tools.CompressAppendixService"
            android:enabled="true"
            android:exported="true">
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.coolyota.logreport.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>

        <service
            android:name=".service.LogSizeService"
            android:enabled="true"
            android:exported="true">
        </service>
        <!--            android:process="com.coolyota.logreport.service"-->
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.DUMP"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

</manifest>